footer {
    background-color: rgb(44, 42, 51);
    color: white;
    text-align: center;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}
p {
    margin: 10px;
}