.contactPage-container{
   
    
}
.contact-form{
    box-sizing: border-box;
    display: block;
    width:45%;
    margin: auto;
}
.form-title{
    text-align: center;
}
.contact-form input,textarea{
 
width:100%;
border:none;
outline: none;
border-bottom: 2px solid black;
margin:auto
}
.contact-form label{
    padding:1rem;
}
.send-button, .btn{
    padding:.5rem;
    width:100%;
    border:none;
    outline: none;
    border-radius: 3px;
}
.btn{
    margin-top: 1rem;
}

@media(max-width:400px){
    .contact-form{
         width:90%;
    }
    .contact-form input,textarea{
        
    }
}