.mainContainer{
  
}

.todoInputContainer{
height:10rem;
text-align: center;
background-color: black;;
width:80%;
margin:auto;
opacity:.8;

}
#todoInput,#addButton{
 margin-top: 2rem;
 outline:black;
 
 height: 2rem;

 border-radius: ;

}
.outputContainer{
    display: flex;
    background-color: white;
    border-radius: 3px;
    width:100%;
    margin:auto;
    margin-top: 10px;
 } 
 .todos{
    word-wrap: normal;
    display: block;
    padding: 2px;
    width:400px;
    align-items: center;
    overflow-wrap: break-word;
 }
 
 /* .buttons{
    padding: auto;
    float: right;
    display: flex;
    margin-top: -2rem;
    margin-right: 1rem;
 } */
 .delete-btn,.edit-btn{
margin-left: .5rem;
width:5rem;
border-radius: 5px;
height: 2rem;

 }
 

@media(max-width:400px){
    .todoInputContainer{
        height:7rem;
    }
    #todoInput{
         
       
    }
    .todos{
        width:100%
        }
     
     .delete-btn,.edit-btn{
      
         
        justify-content: center;
         
     }
    
} 